<html>
    <head></head>
    <body>

    <h1>My Guest Book</h1>

    <form action="/greet" method="post">
        <p>
        Name: <input type="text" name="user_name" style="width: 300px">
        </p>
        <p>
        Message: <textarea name="message" style="width: 300px" rows="5"></textarea>
        </p>
        <p>
        <input type="submit" value="Send">
        </p>

    </form>

    <h1>Past Greetings:</h1>

    {% for greeting in greetings %}
    {{ greeting.timestamp.strftime('%Y-%m-%d %H:%M:%S') }} - {{ greeting.name }} said {{ greeting.message }}
    <br>
    {% endfor %}

</body>
</html>